span.edsBB_fontIcon {
    line-height: 2.5rem;
}


/* Countdown*/
#countdown {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: #f39200;
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

    #countdown > div {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }

    #countdown div > div,
    #countdown div > span {
        margin-right: .25rem !important;
        margin-left: .25rem !important;
    }

    #countdown div > span {
        min-width: 35px;
        text-align: right;
    }

    #countdown .label {
        padding-top: 5px;
        font-size: 16px;
    }